<% if authorized? %>
<h3>Authorized User Commands</h3>
<a href="/vnc">Remote Screen Session using VNC</a><br>
<form action="/reset" method="post">
<input type="submit" value="Kill Program!" />
<label>Kill</label>
</form><br>
<% else %>
<a href="/login">Log in for authorized user-only commands</a>
<% end %>
